{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    [
      "module-resolver",
      {
        "alias": {
          "@pages/": "./pages/",
          "@public/": "./public/",
          "@components/": "./src/components/",
          "@store/": "./src/store/",
          "@styles/": "./styles/"
        }
      }
    ]
  ]
}
